* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: auto;
}

body{
    color: black;
    font-family: 'adriane', Georgia, serif;
    margin: 0;
    padding: 0;
    border: 5px solid rgb(14, 20, 73);
}

.header--main {
    background-color: white;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header--phone {
    background-color: white;
    margin: .5rem auto;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.tedgeypic {
    display: none;
    /* display: block;
    padding-left: 1rem; */
}

.tedgeytoppic {
    /* display: none; */
    /* margin: 0 auto;
    max-width: 100%;
    height: auto; */
}

.apps-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 0.5rem;
    margin: 0.5rem;
    font-size: .7rem;
    text-decoration: none;
}

.nav-list {
    margin: 1rem;
}

.picturetime {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    position:relative;
    z-index: 0;
}

.mearrow {
    display: block;
    max-width: 5%;
    top: 17%;
    right: 35%;
    height: auto;
    position: absolute;
    z-index: 2;
}

.tedgeypicwithfriends {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    padding: 0 2rem 1rem;
    font-size: 1rem;
}

p {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1 3rem;
}

.caption {
    margin: 2rem 1rem;
}

a {
    color: black;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    margin-bottom: 1em;
    font-size: .7rem;
    text-decoration: none;
}

.cta-button {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgb(189, 80, 37);
    font-size: 1.5em;
    font-style: italic;
    text-decoration: none;
}

.cta-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
    margin: 2rem;
    text-align: center;
    font-size: 24px;
}

h3{
    margin: 3rem 1rem 1rem;
    color: rgb(189, 80, 37);
}

h2 {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0 0.5rem;
    max-width: 100%;
}

.calltoaction {
    background-color: white;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0 0.5rem;
    margin: 0.5rem;
    font-size: .7rem;
    text-decoration: none;
}

.arrow-right {
    padding-left: 24px;
}

.endpagecta {
    border: 2px rgb(18, 31, 39);
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.image-list li {
    flex-basis: 254px;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    max-width: 320px;
    padding: 20px;
}

.image-list li img {
    width: 100%;
    border-radius: 2%;
}

@media(min-width: 600px) {
    h1 {
        font-size: 1.33rem;
    }
    .header--main{
        justify-content: space-between;
        margin: auto auto;
    }
    .apps-list {
        justify-content: flex-end;
        padding-right: 1rem;
    }
    .tedgeypic {
        display: block;
        padding-left: 1rem;
    }
    .tedgeytoppic {
        display: none;
    }

}

@media(min-width: 850px) {
    .mearrow {
        top: 17%;
        right: 39%;
    }
}